@import "./Variables";

.Room {
  @include centerer;
  &__container {
    position: relative;

    &__chat {

      &__message {

        p {
          display: inline;
        }
      }
    }

    &__user {
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      margin-bottom: 20px;

      form {
        position: relative;
        button {
          height: 60px;
          width: 80px;
          margin-left: 10px;
        }
      }

      &__info {
        margin-top: 10px;
        margin-bottom: 30px;
        position: relative;
        p {
          vertical-align: middle;
          line-height: 0;
          position: absolute;
          left: 0;
        }
      }
    }
  }
}
