// Variables
$MainTheme: #586d8e;
$ChatHeader: #ecf1f5;
$ChatBG: #dfe6ed;
$UserInfo: #7b83af;
$TextOnWhite: #a7abb1;
$Name: #67c4c8;
$Me: #7a2828;
$You: #a73737;

// Mixins
@mixin gradient {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC) no-repeat center center fixed;
  background: linear-gradient(to right, #CFDEF3, #E0EAFC) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(173,173,173,1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(173,173,173,1);
  box-shadow: 0px 0px 15px 0px rgba(173,173,173,1);
}
